/* Base navbar style */
.navbar {
    transition: top 0.3s;
  }
  
  /* Sticky navbar style */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
    animation: slideDown 0.5s;
  }
  
  /* Keyframes for slide-down animation */
  @keyframes slideDown {
    from {
      top: -100px;
    }
    to {
      top: 0;
    }
  }
  