@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
}

@layer components {
  .large-bold-text {
    @apply text-fs-large-bold font-extrabold leading-8;
    @apply lg:text-lg xl:text-xl 2xl:text-2xl;
  }
  
  /* Medium Normal Text */
  .medium-normal-text {
    @apply text-fs-medium-normal font-normal leading-7;
    @apply lg:text-base xl:text-lg
  }
  
  /* Huge ExtraBold Text */
  .huge-extrabold-text {
    @apply text-fs-huge-extrabold font-extrabold leading-none;
    @apply max-xl:text-8xl
  }
  
  /* Larger Medium Text */
  .larger-medium-text {
    @apply text-fs-larger-medium font-medium leading-9;
    @apply lg:text-lg xl:text-xl 
  }
  
  /* Extra Large ExtraBold Text */
  .xlarge-extrabold-text {
    @apply text-fs-xlarge-extrabold font-extrabold leading-tight;
    @apply lg:text-2xl xl:text-3xl
  }
  
  /* Extra Large Bold Text */
  .xl-bold-text {
    @apply text-fs-xl-bold font-extrabold leading-10;
    @apply lg:text-lg xl:text-xl 
  }
  
  /* Large Medium Text */
  .large-medium-text {
    @apply text-fs-large-medium font-medium leading-8;
    @apply lg:text-base xl:text-lg
  }
  
  /* Larger Bold Text */
  .larger-bold-text {
    @apply text-fs-larger-bold font-extrabold leading-9;
    @apply lg:text-xl xl:text-2xl 
  }

  .hover-effect {
    @apply relative inline-block;
  }

  .hover-effect::after {
    @apply absolute block w-0 h-0.5 bg-current;
    content: '';
    left: 50%;
    bottom: -0.25rem; /* Adjust as needed */
    transition: width 0.3s ease, left 0.3s ease;
  }

  .hover-effect:hover::after {
    @apply w-full;
    left: 0;
  }
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #FF389B; /* This is the Tailwind 'amber-400' color as an example */
  color: #000; /* Optional: Change text color during selection */
}

.ellipse-shadow {
  box-shadow: 0px -0.4830077886581421px 36.547767639160156px 0px #06060696 inset;
  box-shadow: 0px 10.963541030883789px 19.29583168029785px 0px #000000;  
}

.label-shadow{
  box-shadow: 0px 23.123960494995117px 38.53993225097656px 0px #00000040;
}

.navbar {
  transition: top 0.3s;
}

/* Sticky navbar style */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: transparent;
  animation: slideDown 0.5s;
}

@keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

video {
  pointer-events: none;
}

.label {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ju367v9h{
  background-color: #FF389B !important;
}
